body {

  font-weight: 100;
  background: radial-gradient(#FFFF00,#000000);

    /*
    margin: 0;

    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;*/
}

@font-face {
    font-family: "Pixeled";
    src: url("Pixeled.ttf") format("truetype");
}
hr {color:#FFFF00; border-style:solid;}
.row {
  align: center;
  margin: 2%;
 display: flex;
 width: 100%;
  height:auto;
}
.column2 {
border: 5px solid #FFFF00;
background-color: black;
margin: 2%;
align: center;
text-align: center;
flex:50%;

}
.column1 {

margin: 2%;
align: center;
text-align: center;
flex:10%;

}
.column3 {

margin: 2%;

flex:30%;

}
.column3 button{
  background-color:#af4c89;
  color: black;
  font-family: "Pixeled";

    font-size: 40%;
 margin:auto;
  display: block;
  transition-duration: 0.4s;
}
.column3 button:hover {
  background-color: #4CAF50; /* Green */
  color: white;

}
#skip{visibility: hidden;}
#lounime{visibility: hidden;}
#daphneoram{visibility: hidden;}
#wrapper {flex:100%; align-items: center;}

.lower {
/*border: 5px solid #FFFF00;*/
margin:2%;
opacity: 0;
text-align: center;
width: 100%;
height:auto;
visibility: hidden;
z-index:1;

}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
.outtext{

border: 5px solid #FFFF00;
background-color: black;
overflow: auto;
/*font-family: "Pixeled";*/
margin:2%;
color: #FFFF00;
width: 100%;
height:300px;
}

.outtext2{

border: 5px solid #FFFF00;
background-color: black;

overflow: auto;
/*font-family: "Pixeled";*/
text-align: center;
margin:2%;
color: #FFFF00;
width: 100%;
height:auto;
}

.testa {
font-family: "Pixeled";
font-size: 8px;
margin: 2%;
text-align: center;
width: 100%;
height: auto
}
.testa h1
{
  color: #FFFF00;
  display: inline-block;
}

.fronte{
  font-family: "Pixeled";
  opacity:1;
  visibility: visible;
  background-color: none;
  z-index:2;
  /*animation: fadeOut 5s;
  animation-delay: 0s;
  animation-fill-mode:forwards;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }*/
}
@keyframes fadeIn2 {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fronte button{
  background-color:#FFFF00;
  color: black;
  font-family: "Pixeled";

    font-size: 80%;
 margin:auto;
  display: block;
  transition-duration: 0.4s;
}
.fronte button:hover {
  background-color: #4CAF50; /* Green */
  color: white;

}
.retro{
  opacity: 0;
  visibility: hidden;
  z-index:1;

}

.tarea{
 /*font-family: "Pixeled";*/
  margin: 2%;
  background-color:#FFFF00;
  color: black;
  width: 60%;
  height: : 50%;
}
.lower button{
  background-color:#FFFF00;
  color: black;
  font-family: "Pixeled";
  display: inline-block;
  transition-duration: 0.4s;
}
.lower button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: yellow 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

/*.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ceb937 50%, #292929 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:1s;
}

.bg3 {
  animation-duration:2s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-10%);
  }
  100% {
    transform:translateX(10%);
  }
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/
